<!-- question to display more transaction -->
<div style="margin-bottom: 20px;" class="question">
    <form id="securityForm" action="/transaction/auth-question" method="post">
        <h3>Answer a security question to further display more sensitive transactions</h3>
        <label for="securityAnswer">
            Where is your birth place?
        </label>
        <input type="text" id="securityAnswer" name="securityAnswer" required>
        <div class="form-input">
            <input type="submit" value="submit">
        </div>
    </form>
</div>