<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Tracker</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            color: white;
            background-color: #121212;
            margin: 0;
            padding: 0;
        }

        header {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            background-color: #261167;
        }

        header .logo {
            width: 100px;
        }

        nav ul {
            list-style: none;
            display: flex;
        }

        nav ul li {
            margin-left: 20px;
        }

        nav ul li a {
            color: white;
            text-decoration: none;
            font-size: 16px;
        }

        .hero {
            text-align: center;
            padding: 50px;
        }

        .hero h1 {
            font-size: 32px;
        }

        .hero p {
            font-size: 18px;
        }

        .hero button {
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background-color: gray;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .features {
            display: flex;
            justify-content: space-around;
            padding: 50px;
        }

        .feature img {
            width: 50px;
        }

        .feature h2 {
            font-size: 20px;
        }

        footer {
            background-color: #000033;
            color: white;
            display: flex;
            justify-content: space-between;
            padding: 20px;
        }

        .footer-links a,
        .social-media a {
            color: white;
            text-decoration: none;
            margin-right: 20px;
        }
    </style>
</head>

<body>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Private Transaction Tracker</title>
    </head>

    <body>
        <main>
            <section class="hero" style="height: 100%;">
                <img src="../public/private-transaction-app.webp">
                <h1>Secure Your Transactions, Ensure Your Privacy</h1>
                <p>A robust tool for tracking your financial transactions privately and securely.</p>
                <button><a href='/transaction'>Get Started</a></button>
            </section>
        </main>
    </body>

    </html>

</body>

</html>